:root{
    --primarycolor: #141e4c;
    --secondcolor: #101d42;
    --textcolor: white;
    --textsecondary: #fbb44c;
    --primaryfont: 'Poppins', sans-serif;
    --fontsize: 0.75rem;
    --button: #2bb686;
    --backsecondary: #dfedf5;
}

body{
    margin: 0%;
    font-family: var(--primaryfont);
}
.container{  
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0fr 0.75fr 0.5fr 0fr 0.5fr 0fr; 
    gap: 0px 23px; 

    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "BineAiVenit BineAiVenit BineAiVenit"
      "CalendarCursuri CalendarCursuri CalendarCursuri"
      "AboutUS AboutUS AboutUS"
      "Parteneri Parteneri Parteneri"
      "footer footer footer";
  }
  
.header{ 
    grid-area: header; 
    background-color: var(--primarycolor);
    padding: 1rem;
    text-transform: uppercase;
    font-size: var(--fontsize);
    position: sticky;
    top: 0;
    height: fit-content;
}

.containernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    min-width: 320px;
    margin: auto;
    
}
/*display: flex;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}*/

.containernav img{
    width: auto;
    height: 60px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}
  
li a{
    display: block;
    color: var(--textcolor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color: var(--textsecondary);
}

.arrow-down-icon{
    position: absolute;
}

span{
    margin-top: -4px;
}

.submenu{
    display: none;
    position: absolute;
    width: 10rem;
    background-color: var(--secondcolor);
    z-index: 3;
}

.submenu a{
    padding: 0px;
}

.about-us:hover .submenu{
    display: block;
}

.BineAiVenit { 
    grid-area: BineAiVenit; 
    background-color: var(--primarycolor);
    color: var(--textcolor);
}


h1{
    font-size: 4.5rem;
    margin-bottom: -1rem;
    margin-top: 6rem;
    
}

.containernav p{
    margin-bottom: 0rem;
    font-size: 1rem;
}

.containernav span{
    color: var(--textsecondary);
}

.img img{
    height: 24px;
    width: auto;
    margin-left: 14px;
}
.BineAiVenit .containernav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1150px;
    min-width: 320px;
    margin: auto;
    margin-top: 0
}

.BineAiVenit a{
    background-color: var(--button);
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 18px 80px;
    border-radius: 5px;
    margin-top: 34px;
    border: 2px solid transparent; /*adaugam un border transparent sa nu se scaleze button atunci cand facem hover peste el*/
}

.BineAiVenit a:hover{
    background-color: var(--primarycolor);
    border: 2px solid var(--button);
}

.CalendarCursuri p{
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    color: var(--secondcolor);
}

.CalendarCursuri{ 
    grid-area: CalendarCursuri; 
}

.ContinutCurs{
    border: 1px solid #ddd;
    width: 355px;
    height: max-content;
    border-radius: 5px;
    padding: 0px 5px;
    color: var(--secondcolor);
    margin-bottom: 20px;
}

.cursuri{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Simbol{
    display: flex;
    align-items: center;
}

.Simbol span{
    color: black;
}

.bar{
    margin-top: 10px;
    height: 4px;
    background-color: var(--button);
    border-radius: 10px;
    margin-bottom: 5px;
}

.Online{
    background-color: var(--textsecondary);
    display: flex;
    margin-left: 10px;
    height: 30px;
    align-items: center;
    padding: 1px 8px;
    border-radius: 5%;
}

.AboutUS{ 
    grid-area: AboutUS; 
    background-color: var(--backsecondary);
    margin-top: 10px;
}

.AboutUS p{
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    color: var(--secondcolor);
}

.info{
    text-align: center;
    color: var(--secondcolor);
    margin-bottom: 20px;
}

.ContinutCurs img{
    height: 250px;
    padding: 0px 0px;
}

.imagini{
    border: none;
}

.Parteneri{ 
    grid-area: Parteneri; 
}

.Parteneri p{
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    color: var(--secondcolor);
}

.parteners{
    display: flex;
    border: none;
    width: 200px;
    flex-direction: row;
    justify-content: center;
}

.parteners img{ 
    border: none;
    height: 100px;
    padding: 0px 0px;
    /*filter: url(filters.svg#grayscale);
    / Firefox 3.5+ */
    /*filter: gray;
    /* IE6-9 */
    /*-webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
}

/*
.parteners img:hover{
    filter: none;
    -webkit-filter: none;
}
*/



.footer { 
    grid-area: footer; 
    background-color: var(--primarycolor);
}

.footer p{
    
    text-align: center;
    color: white;
}

